---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  href: string;
  icon: ImageMetadata;
}

const { href, icon } = Astro.props as Props;
---

<a
  href={href}
  class="inline-block bg-neutral-200 p-1 rounded-full"
  target="_blank"
  rel="noopener noreferrer"
>
  <Image src={icon} alt="Icono de GitHub" />
</a>
