---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article
  class={`group relative bg-neutral-50 dark:bg-neutral-900  rounded-xl p-6 shadow-lg
  transform hover:-translate-y-2 transition-transform duration-300 overflow-hidden`}
>
  <h2
    class={`text-2xl font-title font-semibold text-neutral-900 dark:text-neutral-100 mb-3`}
  >
    {title}
  </h2>
  <!-- Poner estilos de ul y li dentro de p -->
  <div
    class={`font-text text-neutral-800 dark:text-neutral-100 leading-relaxed
  [&>ul]:list-disc [&>ul>li]:list-inside`}
    set:html={description}
  />

  <div
    class={`absolute inset-0 pointer-events-none opacity-0 group-hover:opacity-20 bg-gradient-to-r from-white/50 to-white/0 skew-x-[-20deg] animate-shine`}
  >
  </div>
</article>
