---

---

<div class="text-white-primary text-sm">
  &copy; <span id="year"></span> Portafolio Rodrigo Tolentino Martínez
</div>

<script>
  const labelYear = document.getElementById('year') as HTMLElement;
  labelYear.textContent = new Date().getFullYear().toString();
</script>
