---

---

<div class="text-white-primary sm:text-sm p-3 text-[.75em] sm:p-0">
  &copy; <span id="year"></span> Portafolio Rodrigo Tolentino Martínez
</div>

<script>
  const labelYear = document.getElementById('year') as HTMLElement;
  labelYear.textContent = new Date().getFullYear().toString();
</script>
