---
import '@/styles/global.css';
import Logo from '@/components/Layout/Logo.astro';
import Nav from '@/components/Layout/Navigation.astro';
import Copyright from '@/components/Layout/Copyright.astro';
---

<header
  class="bg-nav-overlay fixed top-0 left-0 z-10 h-full overflow-y-auto border-r border-white/10 shadow-[4px_0_12px_-2px_rgba(0,0,0,0.4)] transition-all duration-300 ease-in sm:w-[270px] sm:bg-transparent"
  id="nav"
>
  <div class="absolute top-0 left-0 h-full w-1/2 overflow-y-hidden bg-[#1e1e2f] py-10 sm:w-full sm:bg-transparent sm:p-8">
    <Logo />
    <Nav />
    <Copyright />
  </div>
</header>

<style></style>
