---
import '@/styles/global.css';
---

<div class="px-0 py-8">
  <a href="#" class="logo-before logo-after text-white-primary relative inline-block px-2.5 py-0 text-[40px] leading-12 font-bold">Rodrigo</a>
</div>

<style></style>
