---
import '@/styles/global.css';
---

<div class="mt-10 px-0 sm:py-10">
  <a href="#" class="logo-before logo-after text-white-primary relative inline-block py-0 leading-12 font-bold sm:px-2.5 sm:text-[40px]">Rodrigo</a>
</div>

<style></style>
