---
import "@/styles/global.css";
---

<div class="py-8 px-0">
  <a
    href="#"
    class="inline-block relative py-0 px-2.5 leading-12 font-bold text-[40px] logo-before logo-after text-[rgb(48,46,77)]"
    >Rodrigo</a
  >
</div>

<style></style>
