---
import "@/styles/global.css";
---

<div class="py-8 px-0">
  <a
    href="#"
    class="inline-block relative py-0 px-2.5 leading-12 font-bold text-4xl logo-before logo-after"
    >Rodrigo</a
  >
</div>

<style></style>
