---
import '@/styles/global.css';
---

<div class="mt-4 px-0 sm:py-10 text-center">
  <a href="#" 
    class="relative logo-before logo-after inline-block py-0 px-3
          text-white-primary 
          leading-10 text-2xl font-bold 
          sm:px-2.5 sm:text-[40px] sm:mt-0 sm:leading-15">
    Rodrigo
  </a>
</div>

<style></style>
