---
import '@/styles/global.css';
import Link from '../UI/Link.astro';

type Links = {
  href: string;
  label: string;
  icon: string;
};

const navLinks: Links[] = [
  { href: '/', label: 'Inicio', icon: 'home' },
  { href: '/about', label: 'Sobre mi', icon: 'user' },
  { href: '/resume', label: 'Tecnologías', icon: 'resume' },
  { href: '/portafolio', label: 'Portafolio', icon: 'computer' },
  { href: '/contact', label: 'Contacto', icon: 'dotcom' },
];
---

<ul class="mx-0 my-20 list-none p-0">
  {
    navLinks.map((link) => (
      <li class="block">
        <Link name={link.icon} href={link.href}>
          {link.label}
        </Link>
      </li>
    ))
  }
</ul>

<style>
  li a {
    font-size: 18px;
    font-weight: 700;
    color: #aef8f2;
    text-decoration: none;
    line-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    text-transform: capitalize;
  }
  li a.active {
    color: #16f4d0;
  }
  li a:not(.active):hover {
    transform: translateX(5px);
    color: #e040fb;
  }
  svg {
    margin-right: 10px;
  }
</style>
