---
import '@/styles/global.css';
---

<ul class="nav">
  <li>
    <a href="#home" class="active"><i class="fa fa-home"></i>Inicio</a>
  </li>
  <li><a href="#about"><i class="fa fa-user"></i>Sobre mi</a></li>
  <li><a href="#service"><i class="fas fa-book"></i>Cursos</a></li>
  <li>
    <a href="#portafolio"><i class="fas fa-laptop-code"></i>Proyectos</a>
  </li>
  <li>
    <a href="#blog"><i class="fas fa-folder-tree"></i>Portafolio</a>
  </li>
  <li><a href="#contact"><i class="fa fa-comments"></i>Contact</a></li>
</ul>

<style></style>
