---
import "@/styles/global.css";
import NavTogglerbutton from "./NavTogglerbutton.astro";
import Logo from "@/components/Layout/Logo.astro";
import Navigation from "@/components/Layout/Navigation.astro";
import Copyright from "@/components/Layout/Copyright.astro";
---

<header
  class="w-[270px] bg-pt-white fixed h-full left-0 top-0 z-10 border-r border-pt-white-g overflow-y-auto transition-all duration-300 ease-in"
>
  <NavTogglerbutton />
  <div class="absolute left-0 top-0 w-full h-full p-8 overflow-y-hidden">
    <Logo />
    <Navigation />
    <Copyright />
  </div>
</header>

<style>
  .aside .nav {
    list-style: none;
    margin: 80px 0;
    padding: 0;
  }
  .aside .nav li {
    display: block;
  }
  .aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #302e4d;
    text-decoration: none;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
  }
  .aside .nav li a:not(.active):hover {
    padding-left: 5px;
  }
  .aside .nav li a .far,
  .aside .nav li a .fal,
  .aside .nav li a .fab,
  .aside .nav li a .fas,
  .aside .nav li a .fa {
    margin-right: 5px;
  }
  .aside .copyright-text {
    font-size: 13px;
    color: #7d7d7d;
  }
</style>
