---

---

<div class="fixed top-3 left-3 z-30 h-14 md:hidden" id="navToggler">
  <div class="nav_hamburger invert"></div>
</div>

<style>
  .nav_hamburger {
    width: 30px;
    height: 50%;
    background-image: url('/src/assets/svg/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.3s;
    aspect-ratio: 1 / 1;
  }
  .nav_hamburger_open {
    background-image: url('/src/assets/svg/close.svg');
  }
</style>

<script>
  const btnMenu = document.getElementById('navToggler') as HTMLElement;
  const NavMenu = document.getElementById('nav') as HTMLElement;
  const iconMenu = document.querySelector('.nav_hamburger') as HTMLElement;
  btnMenu?.addEventListener('click', () => {
    iconMenu?.classList.toggle('nav_hamburger_open');
    NavMenu?.classList.toggle('w-full');
  });
</script>
