---
import PersonalInfo from '@/components/About/PersonalInfo.astro';
import BtnOption from '@/components/UI/BtnOption.astro';
import Layout from '@/layouts/Layout.astro';
import '@/styles/global.css';
---

<Layout>
  <section class="about section">
    <div class="container">
      <div class="row">
        <div class="section-title padd-15">
          <h2>Sobre mi</h2>
        </div>
      </div>
      <div class="row">
        <div class="about-content padd-15">
          <div class="row mb-3">
            <div class="about-text padd-15">
              <h3>Soy <span>Rodrigo Tolentino Martínez</span></h3>
              <p>Ingeniero en Tecnologías de la Información y Comunicaciones</p>
            </div>
          </div>
          <!-- Aquí inicia la información personal -->
          <section class="row">
            <div class="">
              <!-- Contenido de la sección -->
              <PersonalInfo />
              <!-- Botones de CV y contacto -->
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .section .container {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .section-title h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
  }
  .section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
  }
  .padd-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
  }
  .about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }
  .about .about-content .personal-info {
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .contact .contact-info-item .icon .fa,
  .blog .blog-item-inner .blog-info .blog-tags a,
  .lightbox .ligthbox-controls .prev-item .fa,
  .lightbox .ligthbox-controls .next-item .fa,
  .portafolio .portafolio-item .portafolio-info .icon .fa,
  body.dark .portafolio .portafolio-filter button.active,
  .portafolio .portafolio-filter button.active,
  .service .service-item .service-item-inner .icon .fas,
  .service .service-item .service-item-inner .icon .fab,
  .service .service-item .service-item-inner .icon .fa,
  .about .about-content .about-text h3 span,
  body.dark .aside .nav li a:hover,
  body.dark .aside .nav li a.active,
  .aside .nav li a:hover,
  .aside .nav li a.active {
    color: #ec1839;
  }

  .blog .blog-item-inner .blog-img .blog-date,
  .service .service-item .service-item-inner:hover .icon,
  .about .about-content .timeline .circle-dot,
  .about .about-content .timeline .timeline-item::before,
  .about .about-content .skills .skill-item .progress .progress-in,
  .btn,
  .section-title h2::after,
  .section-title h2::before,
  .aside .nav-toggler span,
  .aside .nav-toggler span::before,
  .aside .nav-toggler span::after,
  .home .intro .social-links a {
    background-color: #ec1839;
  }
  body.dark .portafolio .portafolio-filter button.active,
  .portafolio .portafolio-filter button.active {
    border-color: #ec1839;
  }
  .container {
    /* max-width: 1100px; */
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    margin: auto;
  }

  .shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  }
  .btn {
    /* font-size: 16px; */
    font-family: 'Rubik', sans-serif;
    /* font-weight: 500; */
    /* padding: 12px 35px; */
    /* color: white; */
    /* border-radius: 40px; */
    -webkit-transition: all 0.3s ease;
    /* transition: all 0.3s ease; */
    /* display: inline-block; */
    white-space: nowrap;
    /* border: none; */
    /* cursor: pointer; */
  }
  .btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
</style>
