---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout>
  <section class="flex min-h-screen">
    <div class="w-full px-12 py-8">
      <div class="flex flex-wrap relative mr-[-15px] ml-[-15px]">
        <div class="grow-0 shrink-0 basis-full max-w-full mb-16 pl-3.5 pr-3.5">
          <h2
            class="title-before title-after text-5xl font-bold relative text-pt-black-g leading-[1.5]"
          >
            Sobre mi
          </h2>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style></style>
