---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout>
  <section class="about section" id="about">
    <div class="container">
      <div class="row">
        <div class="section-title padd-15">
          <h2>Sobre mi</h2>
        </div>
      </div>
      <div class="row">
        <div class="about-content padd-15">
          <div class="row">
            <div class="about-text padd-15">
              <h3>Soy <span>Rodrigo Tolentino Martínez</span></h3>
              <p>
                Estudiante de Ingeniería en Tecnologías de la Información y
                Comunicaciones
              </p>
            </div>
          </div>
          <div class="row">
            <div class="personal-info padd-15">
              <div class="row">
                <div class="info-item padd-15">
                  <p>Cumpleaños: <span>13 de marzo de 1998</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Edad: <span>22</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Nacionalidad: <span>Mexicana</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Correo: <span>rodrigotmarz@gmail.com</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Grado de estudios: <span>Ing. TIC`s</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Teléfono: <span>+52 772 133 6224</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Nivel de ingles: <span>Básico</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Estado: <span>Hidalgo</span></p>
                </div>
              </div>
              <div class="row">
                <div class="buttons padd-15">
                  <a
                    href="https://drive.google.com/file/d/11hxttzSKczeeEdkSvKM1vgdH4lcT8jRk/view?usp=sharing"
                    class="btn">Download CV</a
                  >
                  <a href="#contact" data-section-index="1" class="btn hire-me"
                    >Contactar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="skills padd-15">
              <div class="skill-item padd-15">
                <h4>Python</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 40%"></div>
                  <div class="skill-percent">40%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>Sql</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 20%"></div>
                  <div class="skill-percent">20%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>Html</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 15%"></div>
                  <div class="skill-percent">15%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>.Net</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 10%"></div>
                  <div class="skill-percent">10%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>Linux</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 25%"></div>
                  <div class="skill-percent">25%</div>
                </div>
              </div>
            </div>
            <!-- Segunda Columna de Porcentajes -->
            <div class="skills padd-15">
              <div class="skill-item padd-15">
                <h4>JavaScript</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 20%"></div>
                  <div class="skill-percent">20%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>Css</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 15%"></div>
                  <div class="skill-percent">15%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>Angular</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 10%"></div>
                  <div class="skill-percent">10%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>Git</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 15%"></div>
                  <div class="skill-percent">15%</div>
                </div>
              </div>
              <div class="skill-item padd-15">
                <h4>Java</h4>
                <div class="progress">
                  <div class="progress-in" style="width: 10%"></div>
                  <div class="skill-percent">10%</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Education  -->
          <div class="row">
            <div class="education padd-15">
              <h3 class="title">Education</h3>
              <div class="row">
                <div class="timeline-box padd-15">
                  <div class="timeline shadow-dark">
                    <!-- timeline item -->
                    <div class="timeline-item">
                      <div class="circle-dot"></div>
                      <h6 class="timeline-date">
                        <i class="fa fa-calendar"></i>2013-2016
                      </h6>
                      <h4 class="timeline-title">
                        Técnico en Soporte y Mantenimiento de equipo de cómputo
                      </h4>
                      <p class="timeline-text">
                        Centro de Bachillerato Tecnológico Industrial y de
                        Servicios No.199 Mixquiahuala de Juárez Hgo.
                      </p>
                    </div>
                    <!-- timeliine item end -->
                    <!-- timeline item -->
                    <div class="timeline-item">
                      <div class="circle-dot"></div>
                      <h6 class="timeline-date">
                        <i class="fa fa-calendar"></i>2016-2020
                      </h6>
                      <h4 class="timeline-title">
                        Ingeniería de Tecnologías de la Información y
                        Comunicaciones
                      </h4>
                      <p class="timeline-text">
                        Instituto Tecnológico Superior del Occidente del Estado
                        de Hidalgo (ITSOEH) Mixquiahuala de Juárez Hgo.
                      </p>
                    </div>
                    <!-- timeliine item end -->
                  </div>
                </div>
              </div>
            </div>
            <div class="experience padd-15">
              <h3 class="title">Experience</h3>
              <div class="row">
                <div class="timeline-box padd-15">
                  <div class="timeline shadow-dark">
                    <!-- timeline item -->
                    <div class="timeline-item">
                      <div class="circle-dot"></div>
                      <h6 class="timeline-date">
                        <i class="fa fa-calendar"></i>2013-2016
                      </h6>
                      <h4 class="timeline-title">
                        Técnico en Soporte y Mantenimiento de equipo de cómputo
                      </h4>
                      <p class="timeline-text">
                        Centro de Bachillerato Tecnológico Industrial y de
                        Servicios No.199 Mixquiahuala de Juárez Hgo.
                      </p>
                    </div>
                    <!-- timeliine item end -->
                    <!-- timeline item -->
                    <div class="timeline-item">
                      <div class="circle-dot"></div>
                      <h6 class="timeline-date">
                        <i class="fa fa-calendar"></i>2016-2020
                      </h6>
                      <h4 class="timeline-title">
                        Ingeniería de Tecnologías de la Información y
                        Comunicaciones
                      </h4>
                      <p class="timeline-text">
                        Instituto Tecnológico Superior del Occidente del Estado
                        de Hidalgo (ITSOEH) Mixquiahuala de Juárez Hgo.
                      </p>
                    </div>
                    <!-- timeliine item end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Education End -->
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .section .container {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .section-title h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
  }
  .section-title h2::before {
    content: "";
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .section-title h2::after {
    content: "";
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
  }
  .padd-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
  }
  .about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }
  .about .about-content .personal-info {
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }
  .about .about-content .personal-info .info-item {
    /* background-color: red; */
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about .about-content .personal-info .info-item p {
    /* background-color: red; */
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #302e4d;
    margin: 0;
    border-bottom: 1px solid #e8dfec;
  }
  .about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: #302e4d;
    margin-left: 4px;
    display: inline-block;
  }
  .about .about-content .personal-info .buttons {
    margin-top: 30px;
  }
  .about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
  }
  .about .about-content .skills {
    /* background-color: blue; */
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 22px;
  }
  .about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .skills .skill-item h4 {
    line-height: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
    margin: 0;
  }
  .about .about-content .skills .skill-item .progress {
    background-color: #e3e3e3;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
  }
  .about .about-content .skills .skill-item {
    margin-bottom: 25px;
  }
  .about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
  }

  .about .about-content .skills .skill-item .skill-percent {
    /* display: none; */
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: #302e4d;
  }
  .about .about-content .education {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  .about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  .about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
  }
  .about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .timeline {
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }
  .about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
  }
  .about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0px;
  }
  .about .about-content .timeline .timeline-item::before {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
  }
  .about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0px;
    height: 15px;
    width: 15px;
    left: 0px;
    border-radius: 50%;
  }
  .about .about-content .timeline .timeline-date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #504e70;
  }
  .about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
  }
  .about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
  }
  .about .about-content .timeline .timeline-text {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }
  .contact .contact-info-item .icon .fa,
  .blog .blog-item-inner .blog-info .blog-tags a,
  .lightbox .ligthbox-controls .prev-item .fa,
  .lightbox .ligthbox-controls .next-item .fa,
  .portafolio .portafolio-item .portafolio-info .icon .fa,
  body.dark .portafolio .portafolio-filter button.active,
  .portafolio .portafolio-filter button.active,
  .service .service-item .service-item-inner .icon .fas,
  .service .service-item .service-item-inner .icon .fab,
  .service .service-item .service-item-inner .icon .fa,
  .about .about-content .about-text h3 span,
  body.dark .aside .nav li a:hover,
  body.dark .aside .nav li a.active,
  .aside .nav li a:hover,
  .aside .nav li a.active {
    color: #ec1839;
  }

  .blog .blog-item-inner .blog-img .blog-date,
  .service .service-item .service-item-inner:hover .icon,
  .about .about-content .timeline .circle-dot,
  .about .about-content .timeline .timeline-item::before,
  .about .about-content .skills .skill-item .progress .progress-in,
  .btn,
  .section-title h2::after,
  .section-title h2::before,
  .aside .nav-toggler span,
  .aside .nav-toggler span::before,
  .aside .nav-toggler span::after,
  .home .intro .social-links a {
    background-color: #ec1839;
  }
  body.dark .portafolio .portafolio-filter button.active,
  .portafolio .portafolio-filter button.active {
    border-color: #ec1839;
  }
  .container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
  }

  .shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  }
  .btn {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    border: none;
    cursor: pointer;
  }
  .btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
</style>
