---
import Experiences from '@/components/About/Experiences.astro';
import PersonalInfo from '@/components/About/PersonalInfo.astro';
import Title from '@/components/Title.astro';
import BtnOption from '@/components/UI/BtnOption.astro';
import Layout from '@/layouts/Layout.astro';
import '@/styles/global.css';
---

<Layout>
  <section class="about pt-[60px] pb-[70px]">
    <div class="m-auto w-full pr-52 pl-52">
      <Title title="Sobre mi" />
      <div class="portafolio-row">
        <div class="about-content padd-15">
          <div class="portafolio-row mb-3">
            <div class="padd-15 max-w-full flex-shrink-0 flex-grow-0 basis-full">
              <h3 class="text-pt-black-g text-2xl font-bold">
                Soy <span class="text-pt-red-primary">Rodrigo Tolentino Martínez</span>
              </h3>
              <p class="text-pt-gray-subtext mt-2 text-base leading-6 font-semibold">Ingeniero en Tecnologías de la Información y Comunicaciones</p>
            </div>
          </div>
          <!-- Aquí inicia la información personal -->
          <section class="flex flex-col items-start justify-between md:flex-row">
            <div class="w-full">
              <PersonalInfo />
              <Experiences />
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style></style>
