---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section>
    <div class="container">
      <div class="intro">
        <img src="images/escuela.jpg" alt="profile" class="shadow-dark" />
        <h1>Rodrigo Tolentino Martínez</h1>
        <p>Soy Ing. en Tecnológias de la Información y comunicaciones</p>
        <div class="social-links">
          <a href="https://twitter.com/Roderick_98"
            ><i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/roderick.martinez.94651"
            ><i class="fa fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/roderick.tm/"
            ><i class="fa fa-instagram"></i>
          </a>
          <a href="https://github.com/Roderick1325"
            ><i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
