---
import Title from '@/components/Title.astro';
import Card from '@/components/UI/Card.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section class="about pt-[60px] pb-[70px]">
    <div class="w-full m-auto pl-52 pr-52">
      <Title title="Resumen" />
      <div class="portafolio-row pb-10">
        <Card text="C#" />
        <Card text="React" />
        <Card text="Angular" />
      </div>
    </div>
  </section>

  <style></style>
</Layout>
