---
import "@/styles/global.css";
---

<header class="aside">
  <!-- Nav toggler btn -->
  <div class="nav-toggler">
    <span></span>
  </div>
  <!-- Nav toggler btn End -->
  <div class="aside-inner">
    <!-- Logo -->
    <div class="logo">
      <a href="#">Rodrigo</a>
    </div>
    <!-- Nav Toggler Btn -->
    <!-- Nav -->
    <ul class="nav">
      <li>
        <a href="#home" class="active"><i class="fa fa-home"></i>Inicio</a>
      </li>
      <li><a href="#about"><i class="fa fa-user"></i>Sobre mi</a></li>
      <li><a href="#service"><i class="fas fa-book"></i>Cursos</a></li>
      <li>
        <a href="#portafolio"><i class="fas fa-laptop-code"></i>Proyectos</a>
      </li>
      <li>
        <a href="#blog"><i class="fas fa-folder-tree"></i>Portafolio</a>
      </li>
      <li><a href="#contact"><i class="fa fa-comments"></i>Contact</a></li>
    </ul>
    <!-- Copyright -->
    <div class="copyright-text">
      &copy; 2021 Portafolio Rodrigo Tolentino Martínez
    </div>
  </div>
</header>

<style>
  .aside {
    width: 270px;
    background-color: #fdf9ff;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    border-right: 1px solid #e8dfec;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .aside .aside-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: hidden;
  }
  .aside .logo {
    padding: 30px 0;
  }
  .aside .logo a {
    font-size: 40px;
    color: #302e4d;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    line-height: 50px;
  }
  .aside .logo a::before {
    content: "";
    height: 20px;
    width: 20px;
    border-top: #ec1839;
    border-top-style: solid;
    border-top-width: 2px;
    border-left: #ec1839;
    border-left-style: solid;
    border-left-width: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .aside .logo a::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    z-index: 11;
    border-radius: 5px;
    background-color: #fdf9ff;
    -ms-flex-align: center;
    display: none;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .aside .nav-toggler span {
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
  }
  .aside .nav-toggler.open span {
    background-color: transparent;
  }
  .aside .nav-toggler span::before {
    content: "";
    height: 2px;
    width: 18px;
    position: absolute;
    top: -6px;
    left: 0;
  }
  .aside .nav-toggler.open span::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
  }
  .aside .nav-toggler span::after {
    content: "";
    height: 2px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0;
  }
  .aside .nav-toggler.open span::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0px;
  }
  .aside .nav {
    list-style: none;
    margin: 80px 0;
    padding: 0;
  }
  .aside .nav li {
    display: block;
  }
  .aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #302e4d;
    text-decoration: none;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
  }
  .aside .nav li a:not(.active):hover {
    padding-left: 5px;
  }
  .aside .nav li a .far,
  .aside .nav li a .fal,
  .aside .nav li a .fab,
  .aside .nav li a .fas,
  .aside .nav li a .fa {
    margin-right: 5px;
  }
  .aside .copyright-text {
    font-size: 13px;
    color: #7d7d7d;
  }
  .aside .logo a::before {
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
  }
  .aside .logo a::after {
    border-right: 4px solid #ec1839;
    border-bottom: 4px solid #ec1839;
  }
</style>
