---
import Header from "@/components/Layout/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main class="fixed left-[270px]">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
  }
  .section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .section.back-section {
    z-index: 1;
  }
  .section.active {
    opacity: 1;
    z-index: 2;
    animation: slideSection 1s ease;
  }
</style>
