---
import '@/styles/global.css';
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'> & {
  text?: string;
};
const { text, href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class="bg-strong-blue inline-block cursor-pointer rounded-[40px] border-0 px-6 py-2 sm:px-8 sm:py-3 text-sm sm:text-base font-medium text-white transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-[0_0_8px_rgba(21,101,192,0.6)] focus:outline-none focus:ring-2 focus:ring-strong-blue focus:ring-opacity-50 text-center"
  {...props}
>
  {text}
</a>


<style></style>
