---
import '@/styles/global.css';
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'> & {
  text?: string;
};
const { text, href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class="inline-block rounded-[40px] text-white py-3 px-9 border-0
    cursor-pointer text-base font-medium transition-all duration-300 ease-in-out hover:transform hover:scale-105 bg-pt-red-primary mr-2"
  {...props}
>
  <button>{text}</button>
</a>

<style></style>
