---
import '@/styles/global.css';
import imgS from '@/assets/rodrigo.jpg';
---

<div class="item padd-15">
  <div class="shadow-dark bg-deep-navy w-full overflow-hidden rounded-xl border-[1px] border-solid border-[#d4d4e3]">
    <div class="relative overflow-hidden">
      <img src={imgS.src} alt="blog" class="block w-full transition-all duration-500 ease-in hover:scale-105" />
      <div class="absolute bottom-3.5 left-3.5 px-2.5 py-1 text-base font-semibold">13 dic 2020</div>
    </div>
    <div class="px-3.5 py-5">
      <h4 class="text-aqua-glow mb-2.5 text-xl font-bold capitalize">CRUD Angular con .Net</h4>
      <p class="text-white-primary mb-3.5 text-base leading-6 font-normal">
        CRUD realizado en Angular (frontend) y .NetCore 3.1 (Backend), realzinado las operaciones de Create, Read, Update, Delete.
      </p>
      <p class="mb-3 text-base leading-4 font-normal text-amber-50 capitalize">
        Tags : <a href="#">HTML</a> , <a href="#">CSS</a> , <a href="#">Angular</a> , <a href="#">Node</a> , <a href="#">.NetCore</a> , <a href="#">MySQL</a>
      </p>
      <p class="font-semibold text-amber-50 no-underline">Github : <a href="https://github.com/Roderick1325/CRUD-angular" target="_blank" class="text-aqua-glow-claro">Ver</a></p>
    </div>
  </div>
</div>

<style></style>
