---
import '@/styles/global.css';

interface Props {
  text?: string;
}
import { getCollection } from 'astro:content';
const techCollection = (await getCollection('tech'))[0].data;
const tech = techCollection.find((tech) => tech.nombre === Astro.props.text);
const props = Astro.props;

const Icon = await import(`../../assets/skills/${tech?.icono.toLowerCase()}.svg`);
---

<span
  class="flex w-fit cursor-default items-center gap-1 rounded-full bg-white py-0.5 pr-2 pl-2 text-sm leading-3 font-semibold shadow transition-all duration-300 ease-in-out hover:bg-zinc-800 hover:text-white max-sm:gap-0.5 max-sm:pr-1.5 max-sm:pl-1 max-sm:text-xs"
  role="presentation"
  aria-hidden="true"
>
  <div class="flex aspect-square size-5 items-center justify-center rounded-full bg-black p-1 max-lg:size-6 max-sm:size-5" role="img" aria-label="Tailwind CSS icon">
    <Icon.default />
  </div>{props.text}  
</span>

<style></style>
